@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto";
}

body div.mainMenuContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(99, 95, 95, 0.459);
  display: none;
}

body div#doAnimation {
  -webkit-animation: mobileMenuAnimation 300ms linear 0s 1;
          animation: mobileMenuAnimation 300ms linear 0s 1;
}

body div.mobileMenu {
  background-color: white;
  font-size: 1rem;
  position: absolute;
  width: 80%;
}

body div.mobileMenu ul {
  list-style: none;
}

body div.mobileMenu ul li {
  padding: 1rem 1rem;
  border: solid 1px rgba(202, 202, 202, 0.555);
}

body div.mobileMenu ul li#offer {
  padding: 0px 0px;
}

body div.mobileMenu a {
  text-decoration: none;
  color: black;
}

body nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav a {
  color: black;
}

body nav div.logo {
  font-weight: bold;
}

body nav div.logo #smallLogo {
  display: none;
}

body nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav ul li {
  padding: 0 0.5rem;
}

body nav a {
  text-decoration: none;
}

body nav input {
  border: solid 1px #cfcfcf;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  width: 200px;
  background: url(/img/icons8-search-18.png) no-repeat scroll 5px 2px;
  padding-left: 30px;
}

body nav div.searchBar {
  display: none;
}

body nav div.ham {
  display: none;
}

body nav #menuTagline {
  font-size: 0.5rem;
}

body nav #hiddenSearchIcon {
  display: none;
}

@media only screen and (max-width: 800px) {
  body nav div.logo {
    width: 150px;
  }
  body nav div.quickLinks {
    display: none;
  }
  body nav div.ham {
    display: contents;
  }
  body nav div.searchBar {
    display: contents;
  }
  body nav div.searchBar input {
    width: 300px;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    width: 180px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 750px) {
  body nav div.logo {
    width: 100px;
  }
  body nav div.searchBar input {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  body nav div.logo {
    width: 100px;
  }
  body nav div.logo span#bigLogo {
    display: none;
  }
  body nav div.logo span#smallLogo {
    font-size: 20px;
    display: block;
  }
  body nav div.searchBar {
    display: contents;
  }
  body nav div.searchBar input {
    width: 230px;
  }
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 20px;
  }
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 140px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 20px;
  }
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 140px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
}

@media only screen and (max-width: 350px) {
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 130px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 100px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
}

@-webkit-keyframes mobileMenuAnimation {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

@keyframes mobileMenuAnimation {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */