@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto";
}

body div.ham {
  width: 30px;
  text-align: center;
}

body div.ham i {
  margin: auto;
}

body div.mainMenuContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(99, 95, 95, 0.459);
  display: none;
  z-index: 2;
}

body div#doAnimation {
  -webkit-animation: mobileMenuAnimation 300ms linear 0s 1;
          animation: mobileMenuAnimation 300ms linear 0s 1;
}

body div.mobileMenu {
  background-color: white;
  font-size: 0.8em;
  position: absolute;
  width: 80%;
}

body div.mobileMenu ul {
  list-style: none;
}

body div.mobileMenu ul li {
  padding: 0.8rem 1.5rem;
}

body div.mobileMenu ul li#offer {
  padding: 0px 0px;
}

body div.mobileMenu a {
  text-decoration: none;
  color: black;
}

body nav {
  -webkit-box-shadow: 5px 4px 12px 0 rgba(241, 241, 241, 0.623);
          box-shadow: 5px 4px 12px 0 rgba(241, 241, 241, 0.623);
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav a {
  color: black;
}

body nav div.logo {
  font-weight: bold;
}

body nav div.logo #smallLogo {
  display: none;
}

body nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav ul li {
  padding: 0 0.5rem;
}

body nav a {
  text-decoration: none;
}

body nav input {
  border: solid 1px #cfcfcf;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  width: 200px;
  background: url(/img/icons8-search-18.png) no-repeat scroll 5px 2px;
  padding-left: 30px;
}

body nav div.searchBar {
  display: none;
}

body nav div.ham {
  display: none;
}

body nav #menuTagline {
  font-size: 0.5rem;
}

body nav #hiddenSearchIcon {
  display: none;
}

body nav div.mainMenu,
body nav div.logo,
body nav div.quickLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.sliderContainer {
  padding-top: 7rem;
  display: none;
}

body div.sliderContainer a {
  text-decoration: none;
  color: black;
}

body div.sliderContainer img {
  border-radius: 50%;
  width: 60px;
}

body div.sliderContainer div.imageName {
  font-size: 0.6rem;
}

body div.quickLinksSlider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 5rem;
}

body div.quickLinksSlider div.f-ContentSlider {
  width: 100%;
  height: 100%;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* So the width will be 100% + 17px */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 10px;
  scroll-behavior: smooth;
  text-align: center;
}

body div.quickLinksSlider div.f-ContentSlider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body div.quickLinksSlider div.f-ContentSlider ul li {
  padding: 0 10px;
}

body div.quickLinksSlider div.f-ContentSlider ul li:last-child {
  padding-right: 50px;
}

body div.quickLinksSlider div.f-ContentSlider div#img img {
  width: 20px;
}

body div.quickLinksSlider div.f-ContentSlider::-webkit-scrollbar {
  display: none;
}

body div.offersSlider {
  width: 100%;
  text-align: center;
  padding-top: 7.5rem;
}

body div.offersSlider div.image {
  padding: 10px 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

body div.offersSlider div.image img {
  width: 100%;
  height: 400px;
}

body div.offersSlider div.sliderButtons button {
  border-radius: 50%;
  height: 0.55rem;
  width: 0.55rem;
  border: solid 0px gray;
  background-color: #e4e4e4;
  margin: 0 0.3rem;
}

body div.offersSlider div.sliderButtons button:hover {
  background-color: #b8b8b8;
}

body div.offersSlider div.sliderButtons button:focus {
  border: solid 0px gray;
  background-color: #b8b8b8;
}

body div.dealOfTheDay {
  background-color: #fafafa;
  margin: 1.5rem 0;
}

body div.content {
  padding: 0 2.5rem;
}

body div.content div.contentSliderContainer {
  padding: 1.2rem 0;
}

body div.content div.contentSliderContainer img {
  width: 15rem;
  height: 20rem;
}

body div.content div.contentSliderContainer div.mainSlider {
  width: 100%;
  height: 100%;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider {
  width: 100%;
  height: 100%;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* So the width will be 100% + 17px */
  text-align: center;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul li {
  padding: 10px 10px;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul li:last-child {
  padding-right: 50px;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.product {
  background-color: #fffefe;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.img {
  padding: 0.15rem;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details {
  text-align: left;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.2rem;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productName {
  font-size: 0.8rem;
  color: black;
  font-weight: 700;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productDesc {
  font-size: 0.8rem;
  color: #757575;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.discountedPrice {
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.originalPrice {
  font-size: 0.8rem;
  color: #adacac;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.percentageOff,
body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price span.percentageOff {
  font-size: 0.75rem;
  color: #e45b5b;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.categories img {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.categoryName {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.3rem;
}

body div.content div.contentSliderContainer div.mainSlider div.contentSlider::-webkit-scrollbar {
  display: none;
}

body .heading {
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: white;
}

body div.ourFavourite {
  padding: 0 2.5rem;
}

body div.ourFavourite div.contentSliderContainer {
  padding: 1.2rem 0;
}

body div.ourFavourite div.contentSliderContainer img {
  width: 15rem;
  height: 20rem;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider {
  width: 100%;
  height: 100%;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider {
  width: 100%;
  height: 100%;
  padding: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul li {
  padding: 10px 10px;
  padding-bottom: 1rem;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul li:last-child {
  padding-right: 50px;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.product {
  background-color: #fffefe;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.img {
  padding: 0.15rem;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details {
  text-align: left;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.2rem;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productName {
  font-size: 0.8rem;
  color: black;
  font-weight: 700;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productDesc {
  font-size: 0.8rem;
  color: #757575;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.discountedPrice {
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.originalPrice {
  font-size: 0.8rem;
  color: #adacac;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.percentageOff,
body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price span.percentageOff {
  font-size: 0.75rem;
  color: #e45b5b;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.categories img {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.categoryName {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
  body nav div.logo {
    width: 150px;
  }
  body nav div.quickLinks {
    display: none;
  }
  body nav div.ham {
    display: contents;
  }
  body nav div.searchBar {
    display: contents;
  }
  body nav div.searchBar input {
    width: 300px;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    width: 180px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body div.sliderContainer {
    display: block;
  }
  body div.offersSlider {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
  }
  body div.offersSlider div.image {
    padding: 10px;
  }
  body div.offersSlider div.image img {
    height: 350px;
  }
}

@media only screen and (max-width: 750px) {
  body nav div.logo {
    width: 100px;
  }
  body nav div.searchBar input {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  body nav div.logo {
    width: 100px;
  }
  body nav div.logo span#bigLogo {
    display: none;
  }
  body nav div.logo span#smallLogo {
    font-size: 25px;
    display: block;
  }
  body nav div.searchBar {
    display: contents;
  }
  body nav div.searchBar input {
    width: 230px;
  }
  body div.dealOfTheDay {
    background-color: #fafafa;
    margin: 1.5rem 0;
  }
  body div.content {
    padding: 0;
  }
  body div.content div.contentSliderContainer {
    padding: 1.2rem 0;
  }
  body div.content div.contentSliderContainer img {
    width: 15rem;
    height: 20rem;
  }
  body div.content div.contentSliderContainer div.mainSlider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider {
    width: 100%;
    height: 100%;
    padding-right: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* So the width will be 100% + 17px */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 10px;
    scroll-behavior: smooth;
    text-align: center;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul li {
    padding: 0 10px;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul li:last-child {
    padding-right: 50px;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.product {
    background-color: #fffefe;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details {
    text-align: left;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.2rem;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productName {
    font-size: 0.8rem;
    color: black;
    font-weight: 700;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productDesc {
    font-size: 0.8rem;
    color: #757575;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.discountedPrice {
    font-size: 0.8rem;
    color: black;
    font-weight: 500;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.originalPrice {
    font-size: 0.8rem;
    color: #adacac;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.percentageOff,
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price span.percentageOff {
    font-size: 0.75rem;
    color: #e45b5b;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.categories img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider ul div.categoryName {
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 1rem;
  }
  body div.content div.contentSliderContainer div.mainSlider div.contentSlider::-webkit-scrollbar {
    display: none;
  }
  body .heading {
    padding: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  body div.sliderContainer {
    padding-top: 8rem;
  }
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 20px;
  }
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 140px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
  body div.sliderContainer {
    padding-top: 4.8rem;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 20px;
  }
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 140px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
  body div.ourFavourite {
    padding: 0 0.5rem;
  }
  body div.ourFavourite div.contentSliderContainer {
    padding: 1.2rem 0;
  }
  body div.ourFavourite div.contentSliderContainer img {
    width: 85%;
    height: auto;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider {
    width: 100%;
    height: 100%;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider {
    width: 100%;
    height: 100%;
    padding: 0px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    text-align: center;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul li {
    padding: 0;
    padding-bottom: 1rem;
    width: 100%;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul li:last-child {
    padding-right: 50px;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.product {
    background-color: #fffefe;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.img {
    padding: 0.15rem;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details {
    text-align: left;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
    line-height: 1.2rem;
    width: 85%;
    margin: auto;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productName {
    font-size: 0.9rem;
    color: black;
    font-weight: 700;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.about div.productDesc {
    font-size: 0.9rem;
    color: #757575;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.discountedPrice {
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.originalPrice {
    font-size: 0.9rem;
    color: #adacac;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price div.percentageOff,
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.details div.price span.percentageOff {
    font-size: 0.85rem;
    color: #e45b5b;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.categories img {
    border-radius: 50%;
    width: 14rem;
    height: 12rem;
  }
  body div.ourFavourite div.contentSliderContainer div.mainSlider div.contentSlider ul div.categoryName {
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 350px) {
  body nav {
    padding: 1rem 1rem;
  }
  body nav div.mainMenu,
  body nav div.logo,
  body nav div.ham,
  body nav div.searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav input {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: 130px;
    height: 25px;
    background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
    padding-left: 30px;
  }
  body nav #menuTagline {
    display: none;
  }
  body nav div.searchBar {
    display: none;
  }
  body nav div.logo {
    width: 100px;
  }
  body nav #hiddenSearchIcon {
    display: contents;
  }
}

@-webkit-keyframes mobileMenuAnimation {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

@keyframes mobileMenuAnimation {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */