@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Roboto";
  //   font-family: "Poppins";
  * {
    // border: solid 1px black;
  }
  nav {
    position: fixed;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    a {
      color: black;
    }
    div.logo {
      font-weight: bold;
      #smallLogo {
        display: none;
      }
    }
    ul {
      list-style: none;
      display: flex;
      li {
        padding: 0 0.5rem;
      }
    }
    a {
      text-decoration: none;
    }
    div.quickLinks {
    }
    input {
      border: solid 1px rgb(207, 207, 207);
      padding: 0.2rem 1rem;
      border-radius: 3px;
      width: 200px;
      background: url(/img/icons8-search-18.png) no-repeat scroll 5px 2px;
      padding-left: 30px;
    }
    div.searchBar {
      display: none;
    }
    div.ham {
      display: none;
    }
    #menuTagline {
      font-size: 0.5rem;
    }
    #hiddenSearchIcon {
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    // font-size: 5px;
    nav {
      //   div.logo {
      //     #bigLogo {
      //       // content: "";
      //       display: none;
      //     }
      //     #smallLogo {
      //       display: contents;
      //       font-size: 1.5rem;
      //     }
      //   }
      div.quickLinks {
        display: none;
      }
      div.ham {
        display: contents;
      }
      div.searchBar {
        display: contents;
      }
      div.mainMenu,
      div.logo,
      div.ham,
      div.searchBar {
        display: flex;
        align-items: center;
      }
      input {
        padding: 0.5rem 0.5rem;
        border-radius: 3px;
        width: 180px;
        height: 25px;
        background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
        padding-left: 30px;
      }

      //   div.mainMenu {
      //     display: none;
      //   }
    }
  }
}
@media only screen and (max-width: 750px) {
  body {
    // font-size: 5px;
    nav {
      div.logo {
        #bigLogo {
          // content: "";
          display: none;
        }
        #smallLogo {
          display: contents;
          font-size: 1.5rem;
        }
      }

      div.quickLinks {
        display: none;
      }
      div.ham {
        display: contents;
      }
      div.searchBar {
        display: contents;
      }
      //   div.mainMenu {
      //     display: none;
      //   }
    }
  }
}
@media only screen and (max-width: 500px) {
  body {
    // font-size: 5px;
    nav {
      padding: 1.2rem 1rem;
      div.mainMenu,
      div.logo,
      div.ham,
      div.searchBar {
        display: flex;
        align-items: center;
      }
      input {
        padding: 0.5rem 0.5rem;
        border-radius: 3px;
        width: 180px;
        height: 25px;
        background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
        padding-left: 30px;
      }
      #menuTagline {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 18px;
    nav {
      padding: 1rem 1rem;
      div.mainMenu,
      div.logo,
      div.ham,
      div.searchBar {
        display: flex;
        align-items: center;
      }
      input {
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
        width: 150px;
        height: 25px;
        background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
        padding-left: 30px;
      }
      #menuTagline {
        display: none;
      }
      div.searchBar {
        display: none;
      }
      div.logo {
        width: 140px;
      }
      #hiddenSearchIcon {
        display: contents;
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  body {
    // font-size: 5px;
    nav {
      padding: 1rem 1rem;
      div.mainMenu,
      div.logo,
      div.ham,
      div.searchBar {
        display: flex;
        align-items: center;
      }
      input {
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
        width: 130px;
        height: 25px;
        background: url(/img/icons8-search-18.png) no-repeat scroll 5px 4px;
        padding-left: 30px;
      }
      #menuTagline {
        display: none;
      }
      div.searchBar {
        display: none;
      }
      div.logo {
        width: 110px;
      }
      #hiddenSearchIcon {
        display: contents;
      }
    }
  }
}
